.wrapper{
    max-width: 800px;
    min-height: 500px;
    display: flex;
}

.left_pannel{
    min-height: 400px;
    background-color: green;
    flex: 1;
}

.right_pannel{
    min-height: 400px;
    background-color: red;
    flex: 1;
}